/*
Width: 1440px
Height: 4509px
background: #EEEEEE
textcolor 1: #659D89
text color 2:  #000000;
text color 3: background: #666666;
fontfamily: Roboto
*/
@font-face {
    font-family: Roboto;
    src: url(/assets/font/Roboto/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #EEEEEE;
    width: 1440px;
    height: 4509px;
    font-family: Roboto;   
}
/*header*//*Navogationleiste*/
.Nav-list {
    margin-left: 100px;
}

.Nav-list li{
    width: fit-content;
    display: inline-block;
    margin-top: 20px;
    margin-right: 22.28px;
}
.Nav-list li a{
    text-decoration: none;
    color: #659D89;
    font-size: 14px;
}
.Nav-list li a:hover{
    color: #659d8991;
}
/*start main part*//*section 1*/
.section1 {
    padding-left: 100px;
    padding-right: 100px;
    height: 679.5px;
    border-bottom: 2px solid lightgray;
    
}
.section1 p {
    font-size: 16px;
    padding-top: 78px;
    padding-bottom: 101px;
}
.section1 p a {
    color: #666666;
    text-decoration: none;
}
.section1 p a:hover{
    color: #66666675;
}
.h2-green{
    color: #659D89;
    padding-top:  103px;
}
h2{
    font-weight: 400;
    font-size: 50px;
    padding-bottom: 50px;
}

ul {
    list-style: none;
    padding-bottom: 5.5px;
}

.social-icons li{
    text-align: right;
}
.social-icons li a img {
    width: 20px;
    height: 20px;
}

.social-icons li a img:hover {
    background-color: #0000002f;

}
/*section 2*/
.section2 {
    padding-left: 100px;
    padding-right: 100px;
    height: 737.5px;
    border-bottom: 2px solid lightgray;
    margin-top: 50px;
}
h3 {
    font-size: 20px;
    color: #000000;
    font-style: normal;
}
.section2 p {
    font-size: 16px;
    color: #000000;
    padding-top: 15px;
}
.bilder-secion2 {
    padding-top: 80px;
    text-align: center;
}
.bilder-secion2 li{
    display: inline-block;
    text-align: right;
    
}
.bilder-secion2 li img {
    padding-left: 52px;
    padding-bottom: 52px;

}
/*macht su den img bewete bilder*/
.section2-bild1 img:hover{
    content: url('/assets/img/link1.gif');
}
.section2-bild2 img:hover{
    content: url('/assets/img/link2.gif');
}
.section2-bild3 img:hover{
    content: url('/assets/img/link3.gif');
}
.section2-bild4 img:hover{
    content: url('/assets/img/link4.gif');
}
.section2-bild5 img:hover{
    content: url('/assets/img/link5.gif');
}
.section2-bild6 img:hover{
    content: url('/assets/img/link6.gif');
}


/*section3*/
.section3{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    border-bottom: 2px solid lightgray;
}
.section3 h3 {
    margin-bottom: 95px;
}
.section3 p {
    font-size: 20px;
}

/*alle bilder bekommen die gleiche größe*/
.article1,.article2,.article3,.article4 img {
    width: 756px;
    height: 425.25px;
}
/*erzeutdie die Schatten bei den Bilder*/
.article1 img:hover{
    box-shadow: 0px 0px 10px 5px #000000;
}
.article2 img:hover{
    box-shadow: 0px 0px 10px 5px #666666ad;
}
.article3 img:hover{
    box-shadow: 0px 0px 10px 5px #666666ad;
}
.article4 img:hover{
    box-shadow: 0px 0px 10px 5px #666666ad;
}
/*1. und 3. bild sowie auch die texte darunter bekommen die gleiche eigenschaften*/
.article1 ,.article3 {
    margin-left: 80px;
    margin-bottom: 100px;
    width: fit-content;
    text-align: center;
}
/*2. und 4. bild sowie auch die texte darunter bekommen die gleiche eigenschaften*/
.article2 ,.article4{
    margin-left: 404px;
    margin-bottom: 100px;
    width: fit-content;
    text-align: center;
}
h4 {
    color: #666666;
    font-size: 12px;
}
/*footer*/
footer {
    width: fit-content;
    margin-top: 84px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
}
footer a {
    color: #666666;
    font-size: 20px;
    text-decoration: none;
}
footer a:hover {
    color: #66666679;
}

footer p {
    color: #666666;
    margin-top: 83px;
    font-size: 10px;
}